.display {
  background-color:#0a0a23;
  width: 90%;
  height: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  color: white;
  border: thin solid black;
  font-size: 7vh;
  padding-right: 3vw;
  font-weight: bold;
  margin-bottom: 3vh;
}