.display {
  background-color:#0a0a23;
  width: 81%;
  height: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  color: white;
  border: 0.2vw solid black;
  font-size: 7vh;
  padding-right: 3vw;
  font-weight: bold;
  margin-bottom: 1.7vh;
  overflow: hidden;
}