

.App {
  background-color:rgb(4, 4, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculadora {
  flex: 0 1 310px;
  height: 68vh;
  background-color:#99c9ff;
  border: 0.2vw solid rgb(31, 30, 30);
  border-radius: 2v;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 1vh 1vh;
  margin: 0 2vw;
}

.fila {
  display: flex;
  width: 88%;
  height: 7.5vh;
  min-height: 8%;
  justify-content: space-between;
  align-items: stretch;
}